# Virtual Environment
venv/
env/
.venv/

# Temporary and log files
logs/
*.log
*.lock
*.tmp
output/*.lock
output/*.tmp

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS artifacts
.DS_Store
Thumbs.db
